<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TO DOOOOOOOOOOOOOOOOOOOS</h1>
    <button><a href="../">Back</a></button>
    <h1>To Do List</h1>
    <!-- FORM ACTION HAS TO BE TODOS TO SEND TO DB -->
    <form action="todos" method="POST">
        <input type="text" placeholder="Add todo's..." name="todoName" required>
        <button type="submit">Add To Do</button>
        <!-- <input type="submit"> -->
        
    </form>

    <div>
    </div>
</body>
</html>